<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Amsterdam Comics</title>
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/+++/lestyle.css" media="screen"/>
    <script src="//use.edgefonts.net/questrial.js"></script>
  </head>
  <body>
    <content>
      <div class="section">
        <img class="logo" src="{{ site.url }}/img/Logo_AMCOM_medium.png" width="150"/>
        {% if site.navigation %}
        <nav>
          <a href="img/CFP-Comics.Interaction.2015.pdf">CFP Comics Interaction</a> 
        </nav>
        {% endif %}
      </div>

      <div id="main" class="section">

        {{ content }}

      </div>
    </content>
  </body>
</html>
